.main-banner {
      background-image: url("images/pattern.jpg");
      font-family: Helvetica, sans-serif;
      font-size: 100px;
      font-weight: bold;
      color: khaki;
      text-align: center;
    }

.brushes{
  font-family: Helvetica, sans-serif;
  font-size: 32px;
  font-weight: bold;
  color: white;
  background-color: mediumspringgreen;
}


.frames{
  font-family: Helvetica, sans-serif;
  font-size: 32px;
  font-weight: bold;
  color: white;
  background-color: lightcoral;
}

.paint{
  font-family: Helvetica, sans-serif;
  font-size: 32px;
  font-weight: bold;
  color: white;
  background-color: skyblue;
}

.bold1,
.bold2,
.bold3{
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  color: blue;
}
